* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #252525;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    color: white;
}

section {
    background-color: #121212;
    width: 767px;
    margin: 20px auto;
    flex: 1;
    border: 1px solid #121212;
    padding: 10px 15px;
    text-align: center;
}




.logo-spotify {
    font-size: 30px;
}

section h1 {
    font-size: 30px;
    padding: 20px 0;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.social-buttons button {
    background-color: #121212;
    color: white;
    padding: 10px 35px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    margin: 10px;
    display: flex;
}


.social-buttons button span {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}


form label {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
}

form input {
    background-color: #121212;
    border: 1px solid #fffdfd;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
}   

form button {
    border-radius: 100px;
    padding: 10px 35px;
    margin: 30px 0px;
    background-color: #1ed760;
    font-size: 14px;
    font-weight: 700;
}

a {
    color: #ffffff;
}
#no-assount {
    color: #b3b3b3;
}

hr{
    margin: 15px;
    border: 0;
    border-top: 1px solid #252525;
}


footer {
    background-color: #121212;
    text-align: center;
    padding: 20px 30px;
    color: #b3b3b3;
    font-size: 10px;
}