* { 
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;  
    color: white;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 32px;
}

section {
    width: 324px;
    margin: auto;
    flex: 1;
    padding: 0px 32px;
    text-align: center;
}

section h1 {
    font-size: 36px;
    margin-bottom: 40px;
}   

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label {
    font-size: 12px;
    font-weight: 700;
    margin: 8px 0;
}   

form input[type=text], input[type=email], input[type=number], input[type=password], select {
    background-color: #121212;
    color: white;
    padding: 12px;
    border: 0;
    box-shadow: 0 0 0 1px #818181;
    border-radius: 4px;
}

#bithdate {
    display: flex;
    flex-direction: row;
}

#birthdate-day-input {
    width: 20%;
}

#birthdate-month-select {
    width: 50%;
}

#birthdate-year-input {
    width: 30%;
}

#birthdate input, select {
    margin-right: 0 6px;
}

